.phenom {
  border-bottom: 1px solid #e2e4e6;
  margin-left: 38px;
  min-height: 30px;
  padding: 10px 0;
  position: relative;
}

.phenom-creator, .phenom-icon {
  height: 30px;
  left: -38px;
  position: absolute;
  top: 13px;
  width: 30px;
}

.member {
  background-color: #d6dadc;
  border-radius: 25em;
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  float: left;
  height: 30px;
  margin: 0 4px 4px 0;
  overflow: visible;
  position: relative;
  width: 30px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
}

.phenom-meta {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  min-width: 110px;
}

.quiet, .quiet a {
  color: #838c91;
}

.phenom-meta a.date {
  text-decoration: none;
}
